.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
desktop.ini
ehthumbs.db
Thumbs.db
AlbumArt*

.idea
.idea_*
.sublime-*
.settings
.vagrant
nbproject
atlassian-ide-plugin.xml

.gaedata
.repos
.venv
.vex
.vex2
.vex3

_generated_*
.cache_*
settings_local.py

*.egg-info
bin
_build
build
dist
gen
node_modules
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn.lock
__pycache__

~*
*~
*.bak
*.orig
*.swp
*.tmp

*.apk
*.ap_
*.com
*.class
*.dll
*.exe
*.iml
*.ipr
*.iws
*.o
*.pyc
*.pyo
*.so
